@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 0;
    bottom: 50px;
    position: fixed;
    overflow-y: auto;
    background-color: rgb(235, 235, 193);
}
.note-border{
    border-bottom: 0.5px solid rgba(128,0,0,0.5);
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    background-color: aqua;
}
button {
    padding: 2px;
}
.menu-btn {
    margin-left: 2em;
}
.create-btn {
    margin-right: 2em;
}
.logo {
    font-family: 'Yellowtail', cursive;
    margin-right: 5px;
    margin-left: 5px;
}